h1 {
    font-size: 50px;
 }

 .geo-link-nav {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
 
 .geo-link-nav a {
     color: #518bca;
     margin: 1%;
     font-size: 18px;
     font-weight: bold;
 }
 .geography-container {
    margin: 60px 5% 0 5%;
}

.geography-script {
    padding: 5% 0;
}


.geography-script p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 0% 20%;
    letter-spacing: 0.1em;
 }

.eldorado-container {
    background-image: url("../../images/free-eldorado.jpg");
    background-size: cover;
    background-position: center;
    padding: 5%;
}

.eldorado-container p{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 0% 20%;
    letter-spacing: 0.1em;
}

.placer-container {
    background-image: url("../../images/free-auburn.jpg");
    background-size: cover;
    background-position: center;
    padding: 5%;
}

.placer-container p{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 0% 20%;
    letter-spacing: 0.1em;
}


.sacramento-container {
    background-image: url("../../images/free-sac.jpg");
    background-size: cover;
    background-position: center;
    padding: 5%;
}

.sacramento-container p{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 0% 20%;
    letter-spacing: 0.1em;
}

@media only screen and (max-width: 895px) { 
    .geography-container p {
        padding: 0%;
    }
    .geography-container {
        margin: 60px 0 0 0;
    }
    
    .geography-script {
        padding: 5% 5%;
    }
    }