p {
    padding: 0% 20%;
    letter-spacing: 0.1em;
}

.home-container {
    margin: 5%;
}

.home-container p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
 }

 .home-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 20px;
 }

.home-container .home-icon {
    padding: 20px;
}